
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
img {
    width: 198px; height: 230px;
}
.column {
    float: left;
    width: 33,33%;
    padding: 20px;
    overflow: hidden;
}
.column.mid {
    width: 40%;
}
.column.site {
    width: 20%;
} 
 .row::after {
     content: "";
     display: table;
     clear: both;
 }
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    } 
    
    
    }

#fieldset2 {
    width: 20px;
}
.opq {
    width: 300px;
    float: left;
    margin-left: 150px;
}
.rst {
    width: 300px;
    float: left;
    
    
}
.uvw {
    width: 300px;
    float: left;
    
}
video{
    
    width: 300px;
    height: 155px;
}
img{
    
    width: 130px;
    height: 75px;
}
.R{
    width: 195px;
    height: 175px;
}
#who {
    margin-left: 60px;
}

.gam {
    width: 35px;
    height: 27px;
    margin-bottom: 4px;
}

#tool {
    margin-left: 25px;
}